<hmtl> <head> <title>Cuadro con Grupos Musicales Preferidos</title> <meta charset="utf-8"> <style> table,th,td { border:1px solid black;text-align: center}</style> </head> <body> <h1 style="text-align: center">Grupos Musicales Preferidos</h1> <table style="width:100%"> <tr> <th>Banda</th> <th>Cantante</th> <th>Género</th> </tr> <tr> <th>Maroon 5</th> <th>Adam Levine</th> <th>Pop</th> </tr> <tr> <th>Coldplay</th> <th>Chris Martin</th> <th>Pop</th> </tr> <tr> <th>Queen</th> <th>Freddie Mercury</th> <th>Pop</th> </tr> </table> <a href="Menu.html">Volver al Menú</a> </body> </hmtl>
